.container
  .setting-block.form-group
    %label  设置更新频率
    .input-group
      = text_field_tag 'set-frequency', @setting.frequency, id:'set-frequency', class: 'form-control', data:{sid: @setting.id, 'old-frequnecy' => @setting.frequency}
      .input-group-addon
        %span.input-group-text 分钟
  .mail-block.form-inline
    .form-group
      .input-group
        = text_field_tag 'email-address', 'zzcv20051122@gmail.com', class: 'form-control'
    = button_tag '发送邮件', type: 'button', class: 'btn btn-primary', id: 'send-email-button'
  %br
  .sms-block.form-inline
    .form-group
      .input-group
        = text_field_tag 'mobile-number', '13761690891', class: 'form-control'
    = button_tag '发送短信', type: 'button', class: 'btn btn-primary', id: 'send-sms-button'